<div class="s-r-corps-category card py-3">

    <span class="cat truncate" style="font-size: 0.875rem; font-weight: bold">##ITEM_CATEGORIA##</span>

    <div class="card-image mt-3">
        <img class="img-fluid" src="data/rankings/corps/logos/##ITEM_COMPANY##.png" alt="Logotipo ##ITEM_COMPANY##" />
    </div><!--/.card-image -->

    <div class="card-holdr mt-1">
        <span class="tit truncate" style="font-weight: 400">##ITEM_COMPANY##</span>
    </div><!--/.card-holdr -->

    ##ITEM_MATCH##

</div><!--/.s-r-corps-category -->