/** ========================
============================
@project    : Ranking100OS
@version    : 1.0
@author     : Wa59
@copyright  : 2020
============================
begin
=========================**/

@font-face {
    font-family: 'Axiforma';
    src: url('../fonts/axiforma/Axiforma-BlackItalic.eot');
    src: local('../fonts/axiforma/Axiforma-Black Italic'), local('../fonts/axiforma/Axiforma-BlackItalic'),
        url('../fonts/axiforma/Axiforma-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/axiforma/Axiforma-BlackItalic.woff') format('woff'),
        url('../fonts/axiforma/Axiforma-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Axiforma';
    src: url('../fonts/axiforma/Axiforma-Bold.eot');
    src: local('../fonts/axiforma/Axiforma-Bold'), local('../fonts/axiforma/Axiforma-Bold'),
        url('../fonts/axiforma/Axiforma-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/axiforma/Axiforma-Bold.woff') format('woff'),
        url('../fonts/axiforma/Axiforma-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Axiforma';
    src: url('../fonts/axiforma/Axiforma-ThinItalic.eot');
    src: local('../fonts/axiforma/Axiforma-Thin Italic'), local('../fonts/axiforma/Axiforma-ThinItalic'),
        url('../fonts/axiforma/Axiforma-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/axiforma/Axiforma-ThinItalic.woff') format('woff'),
        url('../fonts/axiforma/Axiforma-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Axiforma';
    src: url('../fonts/axiforma/Axiforma-Heavy.eot');
    src: local('../fonts/axiforma/Axiforma-Heavy'), local('../fonts/axiforma/Axiforma-Heavy'),
        url('../fonts/axiforma/Axiforma-Heavy.eot?#iefix') format('embedded-opentype'),
        url('../fonts/axiforma/Axiforma-Heavy.woff') format('woff'),
        url('../fonts/axiforma/Axiforma-Heavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Axiforma';
    src: url('../fonts/axiforma/Axiforma-Medium.eot');
    src: local('../fonts/axiforma/Axiforma-Medium'), local('../fonts/axiforma/Axiforma-Medium'),
        url('../fonts/axiforma/Axiforma-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/axiforma/Axiforma-Medium.woff') format('woff'),
        url('../fonts/axiforma/Axiforma-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Axiforma';
    src: url('../fonts/axiforma/Axiforma-LightItalic.eot');
    src: local('../fonts/axiforma/Axiforma-Light Italic'), local('../fonts/axiforma/Axiforma-LightItalic'),
        url('../fonts/axiforma/Axiforma-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/axiforma/Axiforma-LightItalic.woff') format('woff'),
        url('../fonts/axiforma/Axiforma-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Axiforma';
    src: url('../fonts/axiforma/Axiforma-BoldItalic.eot');
    src: local('../fonts/axiforma/Axiforma-Bold Italic'), local('../fonts/axiforma/Axiforma-BoldItalic'),
        url('../fonts/axiforma/Axiforma-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/axiforma/Axiforma-BoldItalic.woff') format('woff'),
        url('../fonts/axiforma/Axiforma-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Axiforma';
    src: url('../fonts/axiforma/Axiforma-BookItalic.eot');
    src: local('../fonts/axiforma/Axiforma-Book Italic'), local('../fonts/axiforma/Axiforma-BookItalic'),
        url('../fonts/axiforma/Axiforma-BookItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/axiforma/Axiforma-BookItalic.woff') format('woff'),
        url('../fonts/axiforma/Axiforma-BookItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Axiforma';
    src: url('../fonts/axiforma/Axiforma-SemiBold.eot');
    src: local('../fonts/axiforma/Axiforma-SemiBold'), local('../fonts/axiforma/Axiforma-SemiBold'),
        url('../fonts/axiforma/Axiforma-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/axiforma/Axiforma-SemiBold.woff') format('woff'),
        url('../fonts/axiforma/Axiforma-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Axiforma';
    src: url('../fonts/axiforma/Axiforma-Black.eot');
    src: local('../fonts/axiforma/Axiforma-Black'), local('../fonts/axiforma/Axiforma-Black'),
        url('../fonts/axiforma/Axiforma-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/axiforma/Axiforma-Black.woff') format('woff'),
        url('../fonts/axiforma/Axiforma-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Axiforma';
    src: url('../fonts/axiforma/Axiforma-Thin.eot');
    src: local('../fonts/axiforma/Axiforma-Thin'), local('../fonts/axiforma/Axiforma-Thin'),
        url('../fonts/axiforma/Axiforma-Thin.eot?#iefix') format('embedded-opentype'),
        url('../fonts/axiforma/Axiforma-Thin.woff') format('woff'),
        url('../fonts/axiforma/Axiforma-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Axiforma';
    src: url('../fonts/axiforma/Axiforma-Book.eot');
    src: local('../fonts/axiforma/Axiforma-Book'), local('../fonts/axiforma/Axiforma-Book'),
        url('../fonts/axiforma/Axiforma-Book.eot?#iefix') format('embedded-opentype'),
        url('../fonts/axiforma/Axiforma-Book.woff') format('woff'),
        url('../fonts/axiforma/Axiforma-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Axiforma';
    src: url('../fonts/axiforma/Axiforma-ExtraBold.eot');
    src: local('../fonts/axiforma/Axiforma-ExtraBold'), local('../fonts/axiforma/Axiforma-ExtraBold'),
        url('../fonts/axiforma/Axiforma-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/axiforma/Axiforma-ExtraBold.woff') format('woff'),
        url('../fonts/axiforma/Axiforma-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Axiforma';
    src: url('../fonts/axiforma/Axiforma-HeavyItalic.eot');
    src: local('../fonts/axiforma/Axiforma-Heavy Italic'), local('../fonts/axiforma/Axiforma-HeavyItalic'),
        url('../fonts/axiforma/Axiforma-HeavyItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/axiforma/Axiforma-HeavyItalic.woff') format('woff'),
        url('../fonts/axiforma/Axiforma-HeavyItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Axiforma';
    src: url('../fonts/axiforma/Axiforma-MediumItalic.eot');
    src: local('../fonts/axiforma/Axiforma-Medium Italic'), local('../fonts/axiforma/Axiforma-MediumItalic'),
        url('../fonts/axiforma/Axiforma-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/axiforma/Axiforma-MediumItalic.woff') format('woff'),
        url('../fonts/axiforma/Axiforma-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Axiforma';
    src: url('../fonts/axiforma/Axiforma-Italic.eot');
    src: local('../fonts/axiforma/Axiforma-Italic'), local('../fonts/axiforma/Axiforma-Italic'),
        url('../fonts/axiforma/Axiforma-Italic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/axiforma/Axiforma-Italic.woff') format('woff'),
        url('../fonts/axiforma/Axiforma-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Axiforma';
    src: url('../fonts/axiforma/Axiforma-SemiBoldItalic.eot');
    src: local('../fonts/axiforma/Axiforma-SemiBold Italic'), local('../fonts/axiforma/Axiforma-SemiBoldItalic'),
        url('../fonts/axiforma/Axiforma-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/axiforma/Axiforma-SemiBoldItalic.woff') format('woff'),
        url('../fonts/axiforma/Axiforma-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Axiforma';
    src: url('../fonts/axiforma/Axiforma-Regular.eot');
    src: local('../fonts/axiforma/Axiforma-Regular'), local('../fonts/axiforma/Axiforma-Regular'),
        url('../fonts/axiforma/Axiforma-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/axiforma/Axiforma-Regular.woff') format('woff'),
        url('../fonts/axiforma/Axiforma-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Axiforma';
    src: url('../fonts/axiforma/Axiforma-Light.eot');
    src: local('../fonts/axiforma/Axiforma-Light'), local('../fonts/axiforma/Axiforma-Light'),
        url('../fonts/axiforma/Axiforma-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/axiforma/Axiforma-Light.woff') format('woff'),
        url('../fonts/axiforma/Axiforma-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Axiforma';
    src: url('../fonts/axiforma/Axiforma-ExtraBoldItalic.eot');
    src: local('../fonts/axiforma/Axiforma-ExtraBold Italic'), local('../fonts/axiforma/Axiforma-ExtraBoldItalic'),
        url('../fonts/axiforma/Axiforma-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/axiforma/Axiforma-ExtraBoldItalic.woff') format('woff'),
        url('../fonts/axiforma/Axiforma-ExtraBoldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

/** ========================
end
=========================**/