/** ========================
============================
@project    : Ranking100OS
@version    : 1.0
@author     : Wa59
@copyright  : 2020
============================
begin
=========================**/

footer .b2t {
	float: right;
	position: relative;
	bottom: 3rem;
}

footer .s-footer__body {
	
}

footer .s-footer__feet {

}

/* responsive */
/*Small devices (landscape phones, 576px and up)*/
@media (max-width: 575px) {}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1440px) {}

/** ========================
end
=========================**/