/** ========================
============================
@project    : Ranking100OS
@version    : 1.0
@author     : Wa59
@copyright  : 2020
============================
begin
=========================**/

.page {
	.page__title {
		margin-bottom: 2em;
		font-size: 1.5em;
		font-weight: 900;
		color: #000000;
	}
}

.page-frontpage {
	padding-top: 5em;
	background: url("../images/page-frontpage-bg.png") 0 0 no-repeat;
	background-position: top center;

	.page__title {
		margin-top: 1em;
	}
}

.page-ranking {
	padding-top: 5em;
	background: url("../images/page-frontpage-bg.png") 0 0 no-repeat;
	background-position: top center;

	.page__title {
		font-size: 1.75em;
		font-weight: 400;
		margin-top: 5em;
	}

	h2 {
		text-align: center;
		color: #000000;
		font-weight: 700;
		margin: 5em 0 2em 0;
		font-size: 1.333em;
	}

	table {
		width: 100%;
	}

	table th {
		text-align: center;
	}

	table .number {
		color: $brand-st;
		font-weight: 900;
		text-align: center;
	}

	table .points {
		color: #444444;
		text-align: center;
		font-size: 0.75em;
	}

	table .btn {
		font-size: 0.666em;
	}

	table .img-fluid {
		height: 30px;
		width: auto;
	}

	table td {
		padding: 0.5em 1em;
		background: #ffffff;
		border-bottom: 1px solid #e5e5e5;
	}
}

.page-minuto-ceo {
	padding-top: 10em;

	h1 { 
		margin-bottom: 2em;
		font-size: 1.75em;
		font-weight: 500;
		color: #000000;
	}

	.box {
		position: relative;
		background: #c4c4c4;
		margin-bottom: 1em;

		figure { 
			height: 200px;
			width: 100%;

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}

		.box-text {
			font-size: 0.75em;
			padding: 1em 3em;
			color: #000;
			h3 { font-weight: bold }
		}

		&:after {
			position: absolute;
			left: 0; top: 0;
			content: '';
			width: 100%;
			height: 100%;
			pointer-events: none;
			background: url('../images/widget-minuto-ceo-box-decor.png') top left no-repeat;
		}
	}
}

/* responsive */
/*Small devices (landscape phones, 576px and up)*/
@media (max-width: 575px) {}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1440px) {}

/** ========================
end
=========================**/