// ==========================================================================
// Theme Custom Variables
// ==========================================================================

$brand-st: #3fa9f5;
$brand-st-dark: #003f7b;
$brand-nd: #565656;
$brand-nd-dark: #3d3d3d;
$brand-rd: #cb2263;
$brand-rd-dark: #aa0041;
$brand-th: #009d4e;
$brand-th-dark: #03783d;