.btn {
  display: inline-block;
  text-align: center;
  border-radius: 30px;
  padding: 0.5em 1.5em;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  background: #3fa9f5;
  font-size: 1.6em;
  font-weight: bold;
}
.btn:hover, .btn:active, .btn:focus {
  color: white;
  text-decoration: none;
  background: #565656;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

/* responsive */
/*Small devices (landscape phones, 576px and up)*/
/*Small devices (landscape phones, 576px and up)*/
/*Medium devices (tablets, 768px and up)*/
/*Large devices (desktops, 992px and up)*/
/*Extra large devices (large desktops, 1200px and up)*/
/*Extra large devices (large desktops, 1200px and up)*/
/** ========================
end
=========================**/
/** ========================
============================
@project    : Ranking100OS
@version    : 1.0
@author     : Wa59
@copyright  : 2020
============================
begin
=========================**/
.page .page__title {
  margin-bottom: 2em;
  font-size: 1.5em;
  font-weight: 900;
  color: #000000;
}

.page-frontpage {
  padding-top: 5em;
  background: url("../images/page-frontpage-bg.png") 0 0 no-repeat;
  background-position: top center;
}
.page-frontpage .page__title {
  margin-top: 1em;
}

.page-ranking {
  padding-top: 5em;
  background: url("../images/page-frontpage-bg.png") 0 0 no-repeat;
  background-position: top center;
}
.page-ranking #top-20-list, .page-ranking #top-categorias-list, .page-ranking #top-100-list {
  display: none;
}
.page-ranking .page__title {
  font-size: 1.75em;
  font-weight: 400;
  margin-top: 5em;
}
.page-ranking h2 {
  text-align: center;
  color: #000000;
  font-weight: 900;
  margin: 5em 0 2em 0;
  font-size: 1.333em;
}
.page-ranking .box-years {
  background: #eeeeee;
  width: 85%;
  margin: 5em auto 2em auto;
  padding: 2em;
}
.page-ranking .box-years .year-list {
  font-size: 1.25em;
  list-style: none;
  color: #000000;
  display: flex;
  justify-content: space-around;
}
.page-ranking .box-years .year-list a {
  color: #000000;
}
.page-ranking .box-years .year-list a.selected {
  text-decoration: underline;
}
.page-ranking .box-years .category-list {
  width: 90%;
  margin: 2em auto 0 auto;
  font-size: 1.125em;
  list-style: none;
  text-transform: uppercase;
  display: flex;
  justify-content: space-around;
}
.page-ranking .box-years .category-list a {
  color: #444444;
}
.page-ranking .box-years .category-list a.selected {
  font-weight: bold;
}
.page-ranking .box-years .category-list a:hover, .page-ranking .box-years .category-list a:focus, .page-ranking .box-years .category-list a:active {
  text-decoration: none;
  font-weight: bold;
}
.page-ranking .cat-msg {
  height: 0px;
  overflow: hidden;
  color: #444444;
  text-align: center;
  font-size: 1.125em;
  margin-bottom: 1em;
  overflow: hidden;
  transition: all 0.3s ease;
}
.page-ranking .cat-msg.active {
  height: 60px;
}
.page-ranking .box-filters h2 {
  text-align: left;
  font-size: 1.5em;
  color: #5d5d5d;
  font-weight: 600;
}
.page-ranking .box-filters label {
  font-size: 0.9em;
}
.page-ranking table {
  width: 100%;
}
.page-ranking table th {
  text-align: center;
}
.page-ranking table .number {
  color: #3fa9f5;
  font-weight: 900;
  text-align: center;
}
.page-ranking table .points {
  color: #444444;
  text-align: center;
  font-size: 0.75em;
}
.page-ranking table .btn {
  font-size: 0.666em;
}
.page-ranking table .img-fluid {
  height: 40px;
  width: auto;
}
.page-ranking table .selo {
  width: 100px;
  height: auto;
}
.page-ranking table td {
  padding: 0.5em 1em;
  background: #ffffff;
  border-bottom: 1px solid #e5e5e5;
  text-align: center;
}
.page-ranking .grid-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.page-ranking .box {
  flex-shrink: 0;
  flex-grow: 0;
  margin: 1em;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 2em 0;
  width: calc(20% - 2em);
  height: 180px;
}
.page-ranking .box figure {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 90px;
  height: 90px;
}
.page-ranking .box img {
  width: 90px;
}
.page-ranking .box .btn {
  font-size: 0.666em;
}

.page-minuto-ceo {
  padding-top: 10em;
}
.page-minuto-ceo h1 {
  margin-bottom: 2em;
  font-size: 1.75em;
  font-weight: 500;
  color: #000000;
}
.page-minuto-ceo .box {
  position: relative;
  background: #c4c4c4;
  margin-bottom: 1em;
}
.page-minuto-ceo .box figure {
  height: 200px;
  width: 100%;
}
.page-minuto-ceo .box figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.page-minuto-ceo .box .box-text {
  font-size: 0.75em;
  padding: 1em 3em;
  color: #000;
}
.page-minuto-ceo .box .box-text h3 {
  font-weight: bold;
}
.page-minuto-ceo .box:after {
  position: absolute;
  left: 0;
  top: 0;
  content: "";
  width: 100%;
  height: 100%;
  pointer-events: none;
  background: url("../images/widget-minuto-ceo-box-decor.png") top left no-repeat;
}

/* responsive */
/*Small devices (landscape phones, 576px and up)*/
/*Small devices (landscape phones, 576px and up)*/
/*Medium devices (tablets, 768px and up)*/
/*Large devices (desktops, 992px and up)*/
/*Extra large devices (large desktops, 1200px and up)*/
/*Extra large devices (large desktops, 1200px and up)*/
/** ========================
end
=========================**/

/*# sourceMappingURL=style.css.map */
