<a class="s-mc-list-card card" href="#s-mc-list-modal-##ID##" 
    data-target="#s-mc-list-modal-##ID##" data-toggle="modal">

    <div class="card-image card-image-bg"
        style="background-image: url(https://img.youtube.com/vi/##ITEM_VIDEO##/hqdefault.jpg);">
    </div><!--/.card-image -->

    <div class="card-holder">
        <span class="feats">##ITEM_TOP##</span>
        <span class="title">##ITEM_TITLE##</span>
        <span class="descr">##ITEM_COMPANY##</span>
    </div><!--/.card-holder -->

</a><!--/.s-mc-list-card -->
