.home-insights .s-hold {
    background: #003F7B;
    color: #fff;
}
.home-insights .s-hold .s-title,
.home-insights .s-hold .s-buttn {
    color: #fff;
}

.home-minuto-ceo .s-videos-row {
    flex-wrap: nowrap;
}

.home-open-talks {
    background: #003F7B;
    color: #fff;
    overflow: hidden;
    position: relative;
}
.home-open-talks .s-title,
.home-open-talks .s-buttn {
    color: #fff;
}

.home-open-talks::before {
    background: transparent no-repeat;
    background-image: url(../img/ripple.png);
    background-position: 0 0;
    content: "";
    height: 669px;
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(0, -55%);
    z-index: 0;
    width: 669px;
}