.home-insights .s-hold {
    background: #003F7B;
    color: #fff;
}
.home-insights .s-hold .s-title,
.home-insights .s-hold .s-buttn {
    color: #fff;
}

.home-minuto-ceo .s-videos-row {
    flex-wrap: nowrap;
}

.home-open-talks {
    background: #003F7B;
    color: #fff;
    overflow: hidden;
    position: relative;
}
.home-open-talks .s-title,
.home-open-talks .s-buttn {
    color: #fff;
}

.home-open-talks::before {
    background: transparent no-repeat;
    background-image: url(../img/ripple.png);
    background-position: 0 0;
    content: "";
    height: 669px;
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(0, -55%);
    z-index: 0;
    width: 669px;
}


/* ATP */
/* --------------------------------------------------------------------- */

#ATP h2 {
    font-weight: 400;
    margin: 4em 0 2em 0;
}

#ATP .btn {
    display: inline-block;
    text-align: center;
    border-radius: 50px;
    padding: 0.5em 1.5em;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    background: #3fa9f5;
    font-size: 1.125em;
    font-weight: bold;
}

#ATP .btn:hover, #ATP .btn:active, #ATP .btn:focus {
    color: white;
    text-decoration: none;
    background: #565656;
}

#carouselATP {
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25), 0px 0px 20px 0px rgba(0,0,0,0.15);
    margin-bottom: 10em;
}

#ATP .box {
    background: #ffffff;
    padding: 2em;
}

#ATP .carousel-control-prev-icon {
    transform: translateX(-8em);
}

#ATP .carousel-control-next-icon {
    transform: translateX(8em);
}

#ATP .carousel-control-prev-icon,
#ATP .carousel-control-next-icon {
    height: 92px;
    width: 46px;
    background-size: 100%, 100%;
    background-image: none;
}

#ATP .carousel-control-next-icon:after {
    content: '>';
    font-size: 92px;
    color: #bbbbbb;
}
#ATP .carousel-control-prev-icon:after {
    content: '<';
    font-size: 92px;
    color: #bbbbbb;
}

#ATP .box .ranking-container {
    border-right: 1px solid #bbbbbb;
    height: 300px;
    margin: 1em auto 3em auto;
}

#ATP .box .ranking-container img {
    width: 100%; height: 100%;
    object-fit: contain;
}

#ATP .box .logo-container {
    width: 100%; height: 300px;
    margin: 0 auto 3em auto;
}

#ATP .box .logo-container img {
    width: 100%; height: 100%;
    object-fit: contain;
}

#ATP .box h3 {
    font-weight: 800;
    text-transform: uppercase;
    text-align: center;
    font-size: 1.25em;
}

#ATP .flex-container {
    padding-top: 1em;
    border-top: 1px solid #bbbbbb;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#ATP .points-container {
    width: 25%;
    padding-right: 2em;
    padding-top: 2em;
    margin-right: 2em;
    border-right: 1px solid #bbbbbb;
}

#ATP .points-container .number {
    font-size: 4em;
    color: #3FA9F5;
    font-weight: 800;
}
#ATP .points-container .text {
    display: block;
    text-align: right;
    position: relative;
    bottom: 2em;
    font-size: 1.5em;
    color: #000000;
    font-weight: 900;
    text-transform: uppercase;
}

#ATP .video-container {
    width: 25%;
    margin-right: 2em;
    padding-right: 2em;
    border-right: 1px solid #bbbbbb;
}

#ATP .carousel-indicators {
    bottom: -5em;
}

#ATP .carousel-indicators li {
    width: initial;
    height: initial;
    text-indent: initial;
    border: 0;
    opacity: 1;
    font-size: 1.125em;
    color: #838383;
    transition: color .3s ease;
    font-weight: 400;
    margin: 0 0.25em;
    background: none;
}
#ATP .carousel-indicators li.active { color: #3FA9F5;}
#ATP .carousel-indicators li:hover { color: #3FA9F5;}

#ATP .carousel-indicators li a { 
    color: #838383;
    text-transform: uppercase;
    padding-left: 0.5em;
    border-left: 1px solid #838383;
}
#ATP .carousel-indicators a:hover { color: #3FA9F5;}