.home-insights .s-hold {
    background: #003F7B;
    color: #fff;
}
.home-insights .s-hold .s-title,
.home-insights .s-hold .s-buttn {
    color: #fff;
}

.home-minuto-ceo .s-videos-row {
    flex-wrap: nowrap;
}

.home-open-talks {
    background: #003F7B;
    color: #fff;
}
.home-open-talks .s-title,
.home-open-talks .s-buttn {
    color: #fff;
}