/* CAROUSEL CARD */
/* 0000000000000000000000000000000000000000000000000000000000000000000000000 */

/* .s-r-carousel-card {
    align-items: center;
    display: grid;
    grid-template-columns: 330px 1fr 360px;
    justify-content: center;
}
.s-r-carousel-card .grid-1 {
    border-right: 1px solid #eee;
    grid-row-start: 1;
    grid-row-end: 3;
    height: 100%;
}
.s-r-carousel-card .grid-2 {
    grid-row-start: 1;
    grid-row-end: 3;
}
.s-r-carousel-card .grid-3 {
    border-left: 1px solid #eee;
}
*/
.s-r-carousel-card {
    align-items: center;
    justify-content: center;
    padding: 2rem;
}
.s-r-carousel-card-grid {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    text-align: center;
}
.s-r-carousel-card .grid-3 {
    margin-top: 3rem;
}

@media (min-width: 768px) {
    .s-r-carousel-card {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: auto auto;
        padding: 1.5rem;
    }
    .s-r-carousel-card-grid {
        height: auto;
        padding: 1.5rem;
    }
    .s-r-carousel-card .grid-3 {
        grid-column-start: 1;
        grid-column-end: 3;
        margin-top: 0;
    }
}
@media (min-width: 1200px) {
    .s-r-carousel-card {
        display: grid;
        grid-template-columns: 290px 1fr 290px;
        min-height: 512px;
        padding: 1.5rem;
    }
    .s-r-carousel-card-grid {
        height: auto;
        padding: 1.5rem;
    }
    .s-r-carousel-card .grid-3 {
        grid-column-start: unset;
        grid-column-end: unset;
    }
}


    .s-r-carousel-card .card-ranking {
        align-items: center;
        display: flex;
        height: 195px;
        justify-content: center;
        max-width: 290px;
    }

    .s-r-carousel-card .card-points {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
    }
    .s-r-carousel-card .card-points .numb {
        color: #3FA9F5;
        line-height: 1;
        font-size: 4em;
        font-weight: 800;
    }
    .s-r-carousel-card .card-points .text {
        color: #000000;
        display: block;
        font-size: 1.5em;
        font-weight: 900;
        line-height: 1;
        margin-top: -1em;
        text-align: right;
        text-transform: uppercase;
        transform: translateX(0.75em);
    }
    
    .s-r-carousel-card .card-image-bg {
        border-radius: 0.5rem;
        padding-top: 57%;
    }

    .s-r-carousel-card .card-image-logo {
        align-items: center;
        display: flex;
        height: 212px;
        justify-content: center;
        max-width: 290px;
        width: 100%;
    }
    .s-r-carousel-card .card-image-logo img {
        object-fit: scale-down;
        max-height: 100%;
        max-width: 100%;
    }

    .s-r-carousel-card .s-mc-list-card,
    .s-r-carousel-card .s-ot-list-card {
        background: transparent;
        box-shadow: none;
        height: auto;
    }



.s-r-corps-category {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    width: 190px;
}

.s-r-corps-category .btn {
    font-size: 0.625rem;
    font-weight: 700;
    margin-top: 1rem;
    text-transform: uppercase;
}
.s-r-corps-category .btn span {
    display: block;
    transform: translateY(1px);
}

.s-r-corps-category .card-image {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 90px;
    width: 90px;
}
.s-r-corps-category .card-image img {
    object-fit: scale-down;
    max-height: 100%;
    max-width: 100%;
}

    .s-r-corps-category .card-holdr {
        font-size: 0.875rem;
        width: 100%;
    }
    .s-r-corps-category .card-holdr .tit {
        display: block;
        font-weight: 700;
        margin-top: 0.5rem;
        width: 100%;
    }
    .s-r-corps-category .card-holdr .cat {
        display: block;
        width: 100%;
    }



/* MINUTO CEO & OPEN TALKS */
/* 0000000000000000000000000000000000000000000000000000000000000000000000000 */

.s-ot-list-card .card-image-bg,
.s-mc-list-card .card-image-bg {
    position: relative;
}

.card:focus .card-image-bg::before,
.card:focus .card-image-bg::after,
.card:hover .card-image-bg::before,
.card:hover .card-image-bg::after {
    opacity: 0;
}

.s-ot-list-card .card-image-bg::before,
.s-mc-list-card .card-image-bg::before {
    background: rgba(0,0,0,0.65);
    content: "";
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    transition: opacity 0.3s ease;
}
.s-ot-list-card .card-image-bg::after,
.s-mc-list-card .card-image-bg::after {
    background: transparent no-repeat 50% 50%;
    background-image: url(../images/ico-playBtn.svg);
    background-size: cover;
    content: "";
    height: 80px;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    transition: opacity 0.3s ease;
    width: 80px;
}

.s-mc-list-card .card-holder {
    text-align: center;
}
.s-mc-list-card .card-holder .feats {
    left: 50%;
    transform: translateX(-50%);
}
@media (min-width: 578px) {
    .col-sm-auto .s-mc-list-card {
        width: 225px;
    }
}

.s-ot-list-card .card-image-bg {
    padding-top: 57%;
}
.s-ot-list-card .card-holder .feats {
    left: 1rem;
}
@media (min-width: 578px) {
    .col-xl-auto .s-ot-list-card {
       width: 300px;
    }
}